* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: #ffffff;
    background-color: #61bbc2;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    border: 1px solid #ffffff;
    width: 95vw;
    display: flex;
    justify-content: space-between;
}

