* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    width: 100%;
    background-color: #59dada;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    border: 1px solid #fff;
    width: 90%;
    display: flex;
    justify-content: space-between;

}

.nav {
    width: 70%;
    display: flex;
    justify-content: center;
    background-color: #4bb4b4;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.nav ul {
    padding: 5px;
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav ul li:hover{
    background-color: #409696;
    cursor: pointer;
}

.nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}



.links {
    display: flex;
    justify-content: flex-end;
}

.login {
    margin-left: 20px;
}

.header-container {
    color: #3a3a3a;
    background-color: #e3fed6;
    display: flex;
    justify-content: center;
}

.logo {
    width: 60%;
}

.header {
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
}

.photo-grid-item img {
    width: 150px;
}

.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
    background-color: #97da59;
}